@use './src/scss/button';
@import '../../scss/vars';

.home-page {
  width: 1400px;
  font-family: $font-family;
}

.desks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}