@use "scss/generalStyles";
@import "scss/vars";

.routes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;
  opacity: 0.9;
  color: white;
  font-family: $font-family;
  padding: 5px;
}

.nav {
  h3 {
    margin: 0;
  }

  ul {
    padding: 10px;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}